// first we set descriptive variables:
$gold-yellow = rgb(255,201,15);
$orange = rgb(255,69,0);
$baby-blue = rgb(217,237,247);
$brighter-baby-blue = rgb(188,232,241);
$atlantic-blue = rgb(58,135,173);
$pacific-blue = rgb(0,122,164);
$navy-blue = rgb(11,83,148);
$gray = rgb(229,229,229);
$dark-gray = rgb(44,54,56);
$light-gray = rgb(153,153,153);
$soft-gray = rgb(232,232,238);
$apple-red-semi = rgba(231,76,60,0.2);
$apple-red-full = rgb(231,76,60);
$mid-red = rgba(192,57,43,0.7);
$soft-green = rgb(31,166,122);
$deep-red = rgb(192,57,43);
$blue-black = rgb(0,65,88);
$blackish = #2C3638;
 
// then we set functional variables =

$red-text-color = $mid-red;
$dark-gray-text-color = $dark-gray;
$light-gray-text-color = $light-gray;
$alert-text-color = $orange;
$hover-button-text-color = $gold-yellow;
$button-bg-color = $baby-blue;
$button-text-color = $atlantic-blue;
$hover-button-bg-color = $atlantic-blue;
$border-blue = $baby-blue;
$border-gray = $gray;
$body-text-color = $blackish;